<h1>{{ Username }}</h1>
{{!--
<img id="userProfile" src="
{{#if UserProfile}}
{{UserProfile}}
{{else}}
images/capricorn.png
{{/if}}
" alt="This is your profile picture"> --}}
<div id="userProfileContainer">
  <img id="userProfile" src="{{UserProfile}}" alt="This is your profile picture"> {{#if message}} {{message}} {{else}} {{/if}}
  <form id="profileForm" action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="profileImage">
    <label for="uploadFile">Edit</label>
  </form>
</div>
<p> "{{ aboutme }}"</p>
<a href="/editprofile">Edit info</a>
<br>
<a href="/settings">Settings</a>
<br> {{#if premium}} {{else}}
<a id="premium" href="#">Go premium</a>
{{/if}}
<br>