<h1>{{ Username }}</h1>
<div id="userProfileContainer">
  <img id="userProfile" src="{{UserProfile}}" alt="This is your profile picture"> {{#if message}} {{message}} {{else}} {{/if}}
  <form id="profileForm" action="/edit/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="profileImage">
    <label for="uploadFile">Edit</label>
  </form>
</div>
<div id="indexMenu">
<p id="indexBio"> "{{ aboutme }}"</p>

<a class="buttonIcon" href="/edit/editprofile"><img src="/images/edit.svg" alt="Edit info"><br>Edit info</a>
<br>
<a class="buttonIcon" href="/edit/settings"><img src="/images/settings.svg" alt="Settings"><br>Settings</a>
<br> {{#if premium}} {{else}}
<a id="premium" href="#">Go premium</a>
{{/if}}
<br>
</div>